[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Kubernetes Course Files
[access "refs/*"]
	owner = group user/vikranthkongara
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/vikranthkongara
	label-Verified = -1..+1 group user/vikranthkongara
	push = group user/vikranthkongara
	read = group user/vikranthkongara
	rebase = group user/vikranthkongara
	removeReviewer = group user/vikranthkongara
	submit = group user/vikranthkongara
[access "refs/heads/*"]
	create = group user/vikranthkongara
	push = +force group user/vikranthkongara
	pushMerge = group user/vikranthkongara
	read = group user/vikranthkongara
[access "refs/tags/*"]
	push = group user/vikranthkongara
	push = +force group user/vikranthkongara
